@import "./constants";
@import "./bootstrap.css";

@font-face {
  font-family: "Geometria";
  src: url("/assets/fonts/Geometria.woff2") format("woff2"),
    url("/assets/fonts/Geometria.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Geometria";
  line-height: 1.1;
  font-size: 14px;
  margin: 0;
  background-color: #ffffff;
}

p {
  margin: 0;
}

h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.75rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1rem;
  line-height: 1.2;
}
h5 {
  font-size: 0.8rem;
}
h6 {
  font-size: 0.8rem;
}
a,
a:hover,
a:active {
  text-decoration: none;
  color: initial;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.preLoader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  background-color: rgba(64, 62, 62, 0.62);
}
.bottom-loader {
  position: fixed;
  top: 0;
  z-index: 100;
  // width: 100%;
}

.MuiCircularProgress-root {
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
}

.text-center {
  text-align: center;
}
.text-muted {
  color: $muted;
}
.text-light {
  color: #fff;
}
.text-secondary {
  color: $secondary;
}
.bg-mute {
  background-color: $muted;
}
.MuiIcon-root {
  vertical-align: top;
}
.rupee::before {
  content: "\20B9";
  margin-right: 4px;
  color: inherit;
  font-family: Arial !important;
}

#city {
  display: inline-block;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 5px;
}

.carousel-root {
  position: relative;
  // max-width: 600px;
  // margin: auto;
  .nav .material-icons {
    font-size: 4rem;
    color: #fff;
  }
  .nav > div {
    position: absolute;
    top: 45%;
    background: rgba(68, 64, 64, 0.44);
    width: 46px;
  }
  .nav .right-nav {
    right: 0;
  }
  .nav .right-nav > .material-icons {
    transform: translateX(-3px);
  }
  .nav .left-nav > .material-icons {
    transform: translateX(-5px);
  }
}

.credit-card-container img {
  width: 40px;
  display: inline-block;
}

.details-tab1 {
  min-height: 125px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.menu-box {
  padding: 4px 4px;
  text-align: center;
  display: block;
  text-decoration: none;
  color: initial;
}

.menu-box > div img {
  width: 50px;
}
.slider-card {
  .card-header {
    background-color: $primary;
    display: flex;
    padding: 2px 6px;
    justify-content: space-between;
    align-items: center;
  }
  .rate {
    font-size: 12px;
    color: #f02508;
    max-width: 110px;
    line-height: 1.5;
  }
}
.header,
.mob-footer {
  min-height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.list-avatar-container {
  height: 60px;
  width: 60px;
  background-image: url("/assets/images/other/img/DishCo_49.png");
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.51);
  background-blend-mode: color;
  & > img {
    height: inherit;
    width: inherit;
    margin-right: 10px;
  }
}
.list-skeleton {
  transition: all 300ms fade;
}
.list-placeholder {
  height: 106px;
  width: 100vw;
  background-image: url("/assets/images/other/list_placeholder3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: color;
  box-sizing: border-box;
  overflow: hidden;
}
.inset-4 {
  margin: -4px;
}
.home-header {
  background: #2d120b;
  color: #ccc;
  padding: 16px;
  font-size: 1rem;
  text-align: center;
}
.MuiDialog-container {
  .heading {
    margin-left: 16px;
    flex: 1;
  }
}
.listType-1 {
  .list {
    max-height: calc(100vh - 112px);
    overflow-y: auto;
  }
  .listItem {
    display: flex;
    border-bottom: 1px solid $muted;
    height: 70px;
    text-overflow: ellipsis;
    padding: 4px;
    .img-box {
      padding: 0 8px;
      margin-right: 4px;
      width: 80px;
      @include media(max-mob) {
        width: 60px;
      }
    }
  }
}
#bookNow-container {
  margin-top: 1.5rem;
  .MuiButtonGroup-root {
    margin: 4px 0;
  }
  .chip-container {
    padding-bottom: 6px;
    .MuiChip-root {
      margin: 0 2px;
    }
  }
  .selectors {
    margin-top: 10px;
    .MuiButtonGroup-root {
      .MuiFormControl-root {
        border: 1px solid;
        border-color: inherit;
        border-radius: 4px;
      }
    }
    .MuiButtonBase-root.active {
      background: $primary;
      color: #fff;
      border-color: $primary;
    }
  }
}
@include media(max-mob) {
  .mob-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.book-table-container {
  .MuiGrid-item {
    border: 1px solid #999;
    border-left: none;
    border-top: none;
    &:nth-of-type(even) {
      border-right: none;
    }
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 160px;
    & > img {
      height: 60px;
      width: 60px;
      margin-bottom: 10px;
    }
    & > .label {
      font-size: 14px;
      text-align: center;
      color: #7b7a7a;
    }
  }
}
.guestSlider {
  margin-top: 35px;
}
.filter-container {
  margin-top: 16px;
  padding: 0px 10px;
  border-bottom: 1px solid #ccc;
}
.hr-list {
  width: 100%;
  overflow-x: auto;
  height: 40px;
  overflow-y: hidden;
  // background: #ece9e9;
  padding: 6px 0;
  margin: 10px 0;
  white-space: nowrap;
  // box-sizing: content-box;
  .MuiButton-root {
    margin: 0 8px;
    .btn-badge {
      background-color: hsla(0, 100%, 27%, 0.48);
    padding: 0 7px;
    font-size: inherit;
    color: #fff;
    border-radius: 50%;
    line-height: 1.6;
    }
    .MuiIcon-root {
      font-size: inherit;
      color: inherit;
    }
  }
}

/*# sourceMappingURL=main.css.map */
