
@font-face {
    font-family: 'Geometria';
    src: url('/assets/fonts/Geometria.woff2') format('woff2'),
        url('/assets/fonts/Geometria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {
    font-family: 'Geometria';
    line-height: 1.1;
}
p {
    margin: 0;
}
 h2, h3, h4, h5, h6 {
    margin: 0;
}
.preLoader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(220, 209, 205, 0.37);
}
.MuiCircularProgress-root {
    position: absolute;
    top: calc(50% - 40px);
    left: calc(50% - 20px);
}
.text-center {text-align: center;}
.rupee::before {
    content:'\20B9';
    margin-right: 4px;
    color: inherit;
    font-family: Arial !important;
}


#city {
    line-height: 1.8;
}
.carousel-root {position: relative;}
.carousel-root .nav .material-icons{
    font-size: 4rem;
    color: #fff;
}
.carousel-root .nav > div{
    position: absolute;
    top: 45%;    
    background: rgba(68, 64, 64, 0.44);
    width: 46px;
}
.carousel-root .nav .left-nav{
    /* left: -12px; */
}
.carousel-root .nav .right-nav{
    right: 0;
}
.carousel-root .nav .right-nav >.material-icons{ 
    transform: translateX(-14px);
}
.credit-card-container img {
    width: 40px;
    display: inline-block;
}
.details-tab1 {
    min-height: 154px;
    align-items: center;
    display: flex;
    justify-content: center;
}